.section {
  display: flex;
  flex-flow: column;
  width: 20vw;
  align-items: center;
  text-align: center;
  background-color: rgb(130, 202, 157);
  padding: 1vw;
  border-radius: 2%;
  margin: 0 auto;
  height: 50vh;
}

#color_box {
  width: 15vw;
  height: 15vh;
  border-radius: 2%;
  background-color: black;
  margin: 1vw auto 2vw;
  box-shadow: black;
}

* {
  font-family: poppins, monospace;
  font-weight: 400;
}

p {
  margin: 10px;
}
.color-input {
  margin: 10vw;
}
